{{#section 'js'}}
<script>
    function viewDetail(index) {
        var detailIndex = "infoField" + index;
        var rowDetail = document.getElementById(detailIndex)
        if (rowDetail.style.display == "")
            document.getElementById(detailIndex).style.display = "none";
        else if (rowDetail.style.display == "none")
            document.getElementById(detailIndex).style.display = "";
    }
  
    function cbRoleChange(id) {
        $.post(
            `/admin/Users/update`,
            { id: id, roleID: document.getElementById("cbRole" + id).value },
            function (data) {
                $("#infoField" + id).empty();
                var html = returnHtmlRole(data["List"]);
                $("#infoField" + id).append(html);
                window.alert("Sửa thành công!");
            }
        );
    }
</script>
{{/section}}
{{#section 'css'}}
<style>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color:lavender;
}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

</style>

{{/section}}
<div class="card">
 
    <div class="card-header">
        <h4>Danh sách các đầu sách</h4>
        <div class="card-header d-flex justify-content-between">
            <a href="/stockkeeper/BookTitle/add" class="btn btn-outline-success">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Thêm sách mới
            </a>
        </div>
        
        <ul class="pagination">
            {{#each this.pagi}}
            {{#when value 'noteq'-1}}
            <li><a href="/stockkeeper/BookTitle?p={{value}}">{{value}}</a></li>
            {{/when}}
            {{/each}}
        </ul>
    </div>
    <div class="card-body">
        <div id="infoList">
            <table class="table table-hover" id="tableCategory">
                <thead>
                    <tr style="background-color:cornflowerblue">
                        <th scope="col" class="text-left" style="width: 15%; color:black">#</th>
                        <th scope="col" style="color:black" class="text-left">Hình</th>
                        <th scope="col" style="width: 20%; color:black" class="text-left">Tên sách</th>
                        <th scope="col" style="width: 20%; color:black" class="text-center">Tác giả</th>
                        <th scope="col" class="text-center" style="color:black">Action</th>
                        <th scope="col" class="text-center" style="color:black"></th>
                    </tr>
                </thead>
                <tbody id="tbodyCateParent" style="background-color:lavender;">
            {{#each this.List}}
            <div id="groupUser{{id}}">
                <tr>
                <div style="background-color:aliceblue">
                    <th scope="row" class="text-left" id="tdParentIndex{{id}}">
                    <label>{{id}} </label>    
                    </th>
                    <td class="text-left">
                        <img class="card-img-top" src="../../public/bookTitleImage/{{image}}" style="width: 40px; height:60px" alt="Card image cap">
                    </td>
                    <td class="text-left">
                        <label>Sách {{name}} </label>
                    </td>
                    <td class="text-center">
                        <label>{{author}} </label>
                    </td>
                    <td class="text-center" colspan="2">
                        <a href="/stockkeeper/BookTitle/edit/{{id}}" class="btn btn-primary">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Cập nhật
                    </a>
                    <a href="/stockkeeper/BookTitle/del/{{id}}" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash" aria-hidden="true"> Xóa </i>
                    </a>
                    </td>
                    {{!-- <button style="width:19%;" type="button" class="btn btn-primary" onclick="viewDetail({{this.id}})"><i class="fa fa-eye"
                            aria-hidden="true"></i>Xem chi
                        tiết!</button> --}}
                    
                </div>
                </tr>
                {{!-- <div id="infoField{{id}}"
                    style="margin-left: 10%;margin-right: 10%;margin-top: 1%; margin-bottom: 2%;border:1px solid purple;display:none;">
                    <div class="form-group" style="margin: 2%;">
                        <form method="POST" enctype="multipart/form-data" action="/admin/BookTitle/edit/{{id}}" style="width: 100%" id="form-confirm">
                            <input class="form-control" id="txtid{{id}}" name="id" value="{{id}}" hidden></input><br>
                            <label for="txtname{{id}}">Tên sách: </label>
                            <input class="form-control" id="txtname{{id}}" name="name" value="{{name}}"></input><br>
                            <label>Tác giả:</label>
                            <input class="form-control" id="txtauthor{{id}}" name="author" value="{{author}}"></input><br>
                            <label>Số lượng:</label>
                            <input class="form-control" id="txtquantity{{id}}" type="number" name="quantity" value="{{quantity}}"></input><br>
                            <label>Mô tả:</label>
                            <input class="form-control" id="txtdescription{{id}}" name="description" value="{{description}}"></input><br>
                            <label>Chuyên mục:</label>
                            <select id="cbRole{{id}}" name="categoryID" class="form-control" onchange="cbRoleChange({{id}})">
                                {{#each ListCate}}
                                <option value="{{id}}" {{#when id 'eq' id}}selected{{/when}}>{{name}}</option>
                                {{/each}}
                            </select><br>
                            <div class="form-group">
                                <label for="txtImage">Ảnh đại diện bài viết:</label><br>
                                <img id="showImg" src="../..{{image}}" style="width:300px;height:300px;"><br>
                                <input type="file" name="urlImage" value="" id="urlImage"></input>
                            </div>
                            <input type="submit" value="update" style="margin-top: 5px; width:15%"
                                class="btn btn-primary" id="btn-confirm">
                        </form>
                    </div>
                </div> --}}
            </div>
            {{/each}}
            </tbody>
            </table>
        </div>
    </div>
</div>