{{#section 'js'}}
<script>
  function viewDetail(index) {
    var detailIndex = "infoField" + index;
    var rowDetail = document.getElementById(detailIndex)
    if (rowDetail.style.display == "")
      document.getElementById(detailIndex).style.display = "none";
    else if (rowDetail.style.display == "none")
      document.getElementById(detailIndex).style.display = "";
  }
  function addParent() {
    var categoryName = $("#txtCategoryName").val();
    if (categoryName == '') {
      alert("Tên chuyên mục không được rỗng!");
      return;
    }
    $.getJSON(`/admin/Category/add/validation?categoryname=${categoryName}`, (data) => {
      if (data["result"] == 0) {
        $.post(
          "/admin/Category/add",
          { name: categoryName },
          function (data) {
            let nextID = data["nextID"] - 1;
            window.alert("Thêm thành công!")
            var parentHTML = addParentHTML(nextID, categoryName);
            $("#tbodyCateParent").append(parentHTML);
            $("#tdParentIndex" + nextID).html(data["countParent"] - 1);
          }
        );
      }
      if (data["result"] == 1) {
        alert("Đã tồn tại chuyên mục này, vui lòng nhập lại!");
      }
    })
  }
  function delcate(id) {
    var ids = $(`#txtid${id}`).val();
    $.getJSON(`/admin/Category/del/validation?id=${ids}`, (data) => {
      if (data["result"] == 0) {
        $.get(
          `/admin/Category/del/${ids}`,
          function (data) {
            let nextID = data["nextID"] - 1;
            window.alert("Xóa thành công!")
            var parentHTML = addParentHTML(nextID, categoryName);
            $("#tbodyCateParent").append(parentHTML);
            $("#tdParentIndex" + nextID).html(data["countParent"] - 1);
          }
        );
      }
      if (data["result"] == 1) {
        alert("Chuyên mục đã được sử dụng không thể xóa!");
      }
    })
  }

</script>
{{/section}}
<div class="card">

  <div class="card-header">
    <h4>Danh sách chuyên mục</h4>
    <ul class="pagination">
      {{#each this.pagi}}
      {{#when value 'noteq'-1}}
      <li><a href="/admin/category?p={{value}}">{{value}}</a></li>
      {{/when}}
      {{/each}}
    </ul>
  </div>
  <div class="card-body">
    <div class="card-header d-flex justify-content-between">
      <input id="txtCategoryName" placeholder="nhập tên chuyên mục"></input>
      <button class="btn btn-outline-success" role="button" onclick="addParent()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Thêm chuyên mục
      </button>

    </div>
    <div id="infoList">
      <table class="table table-hover" id="tableCategory">
        <thead>
          <tr style="background-color:bisque">
            <th scope="col" class="text-left" style="width: 10%">#</th>
            <th scope="col" style="width: 60%;" class="text-center">Tên chuyên mục</th>
            <th scope="col" class="text-center">Action</th>
            <th scope="col" class="text-center"></th>
          </tr>
        </thead>
        <tbody id="tbodyCateParent">
          {{#each this.List}}
          <div id="groupUser{{id}}">
            <tr>
              <div style="size:50px;margin:1%;background-color:aliceblue">
                <th scope="row" class="text-left" id="tdParentIndex{{id}}">
                  <label>{{id}} </label>
                </th>
                <td class="text-center">
                  <label>Sách {{name}} </label>
                </td>
                <td class="text-center" colspan="2">
                  <button type="button" class="btn btn-primary" onclick="viewDetail({{this.id}})"><i class="fa"
                      aria-hidden="true"></i>Cập nhật chuyện mục</button>

                  {{!-- <button class="btn btn-danger btn-sm" role="button" onclick="delcate({{id}})">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Xóa
                  </button> --}}
                  <a href="/admin/Category/del/{{id}}" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Xóa
                  </a>
                </td>
              </div>
            </tr>
            
            <tr>
              <td></td>
              <td colspan="2">
                <div id="infoField{{id}}"
                  style="margin-left: 10%;margin-right: 10%;margin-top: 1%; margin-bottom: 2%;border:1px solid purple;display:none;">
                  <div class="form-group" style="margin: 2%;">
                    <form method="POST" action="/admin/Category/edit/{{id}}" style="width: 100%" id="form-confirm">
                      <input class="form-control" id="txtid{{id}}" name="id" value="{{id}}" hidden></input><br>
                      <label for="txtname{{id}}">Tên chuyên mục: </label>
                      <input class="form-control" id="txtname{{id}}" name="name" value="{{name}}"></input><br>
                      <input type="submit" value="Cập nhật" style="margin-top: 5px; width:15%" class="btn btn-primary"
                        id="btn-confirm">
                    </form>
                  </div>
                </div>
              </td>
            </tr>
          </div>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>