{{#section 'js'}}
<script>
    function viewDetail(index) {
        var detailIndex = "infoField" + index;
        var rowDetail = document.getElementById(detailIndex)
        if (rowDetail.style.display == "")
            document.getElementById(detailIndex).style.display = "none";
        else if (rowDetail.style.display == "none")
            document.getElementById(detailIndex).style.display = "";
    }
  
</script>
{{/section}}
<div class="card">
 
    <div class="card-header">
        <h4>Danh sách chuyên mục</h4>
        <ul class="pagination">
            {{#each this.pagi}}
            {{#when value 'noteq'-1}}
            <li><a href="/admin/category?p={{value}}">{{value}}</a></li>
            {{/when}}
            {{/each}}
        </ul>
    </div>
    <div class="card-body">
        <div id="infoList">

            {{#each this.List}}
            <div id="groupUser{{id}}">
                <div style="size:50px;margin:1%;background-color:aliceblue">
                    <label style="width:80%;">Sách {{name}} </label>
                    <button style="width:19%;" type="button" class="btn btn-primary"
                        onclick="viewDetail({{this.id}})"><i class="fa fa-eye" aria-hidden="true"></i>Xem chi
                        tiết!</button>
                </div>
                <div id="infoField{{id}}"
                    style="margin-left: 10%;margin-right: 10%;margin-top: 1%; margin-bottom: 2%;border:1px solid purple;display:none;">
                    <div class="form-group" style="margin: 2%;">
                        <label for="txtHoTen{{id}}">Họ và Tên:</label>
                        <input class="form-control" id="txtHoTen{{id}}" value="{{username}}"></input><br>
                        <label>Bút danh:</label>
                        {{#when VaiTroID 'eq' 3}}
                        <button id="btnAthName{{id}}" class="btn btn-primary btn-sm" role="button" title="Sửa"
                            onclick="editAthName({{id}})">
                            <i class="fa fa-pencil" aria-hidden="true">sửa</i>
                        </button>
                        {{/when}}
                        <input class="form-control" id="txtButDanh{{id}}"
                            value="{{#if (isEqual VaiTroID 3)}}{{ButDanh}}{{else}}None{{/if}}">
                        <label>email:</label>
                        <input class="form-control" id="txtemail{{id}}" value="{{email}}"></input><br>
                        <label>Thời hạn:</label>
                        {{#when VaiTroID 'eq' 4}}
                        <button id="btnTime{{id}}" class="btn btn-primary btn-sm" role="button" title="Sửa"
                            onclick="editTime({{id}})">
                            <i class="fa fa-pencil" aria-hidden="true">sửa</i>
                        </button>
                        {{/when}}
                        <label>Vai trò:</label>
                        <select id="cbRole{{id}}" name="RoleID" class="form-control" onchange="cbRoleChange({{id}})">
                            <option value="1" {{#when role_id 'eq' 1}}selected{{/when}}>Quản trị viên</option>
                            <option value="2" {{#when role_id 'eq' 2}}selected{{/when}}>Biên tập viên</option>
                            <option value="3" {{#when role_id 'eq' 3}}selected{{/when}}>Phóng viên</option>
                            <option value="4" {{#when role_id 'eq' 4}}selected{{/when}}>Độc giả</option>
                        </select>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>