{{#section 'title'}}
Quản lý Sách
{{/section}}
{{#section 'js'}}
<script>
    function viewDetail(index) {
        var detailIndex = "infoField" + index;
        var rowDetail = document.getElementById(detailIndex)
        if (rowDetail.style.display == "")
            document.getElementById(detailIndex).style.display = "none";
        else if (rowDetail.style.display == "none")
            document.getElementById(detailIndex).style.display = "";
    }

    function cbRoleChange(id) {
        $.post(
            `/admin/Users/update`,
            { id: id, roleID: document.getElementById("cbRole" + id).value },
            function (data) {
                $("#infoField" + id).empty();
                var html = returnHtmlRole(data["List"]);
                $("#infoField" + id).append(html);
                window.alert("Sửa thành công!");
            }
        );
    }
</script>
{{/section}}
<div class="card">

    <div class="card-header">
        <h4>Danh sách các đầu sách</h4>
        <div class="card-header d-flex justify-content-between">
            <a href="/admin/BookTitle/add" class="btn btn-outline-success">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Thêm sách mới
            </a>
        </div>

        <ul class="pagination">
            {{#each this.pagi}}
            {{#when value 'noteq'-1}}
            <li><a href="/admin/BookTitles?p={{value}}">{{value}}</a></li>
            {{/when}}
            {{/each}}
        </ul>
    </div>
    <div class="card-body m-t-20">
        <div class="col-md-10 col-lg-4">
            <div class="p-r-10 p-r-0-sr991">
                <form class="dropdown mr-0" method="post" action="/admin/BookTitle/search" id="search-box">
                    <div class="size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6 m-r-0">
                        <input autocomplete="on" class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search"
                            id="search" placeholder="Tìm kiếm...">
                        <button class="flex-c-c size-a-0 ab-t-r fs-20 cl2 hov-cl10 trans-03" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-10 col-lg-8">
            <div class="p-l-10 p-rl-0-sr991">
                <div class="flex-s-c">
                    <form method="post" action="/admin/BookTitle/searchDate" id="search-date" class="form-inline"
                        style="width: 100%">
                        <label class=  "m-r-20" for="Cusername">Từ ngày</label>
                        <input type="date" class="form-control m-r-20" id="date" name="date" placeholder=""
                            style="width: 160px;" value="" required>
                        <label class=  "m-r-20" for="Cusername">Đến ngày</label>
                        <input type="date" class="form-control m-r-20" id="todate" name="todate" placeholder=""
                            style="width: 160px;" value="" required>
                        <label for="Cusername" style="color:white;">-</label>
                        <button class="btn btn-success " role="button" type="submit" form="search-date">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Tìm
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div card="footer">
        <div id="infoList">
            <table class="table table-hover" id="tableCategory">
                <thead>
                    <tr style="background-color:bisque">
                        <th scope="col" class="text-left" style="width: 15%">#</th>
                        <th scope="col" class="text-left" style="width: 15%">Hình ảnh</th>
                        <th scope="col" style="width: 25%;" class="text-center">Tên sách</th>
                        <th scope="col" style="width: 15%;" class="text-center">Tác giả</th>
                        <th scope="col" class="text-center">Ngày nhập</th>
                        <th scope="col" class="text-center">Action</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>
                <tbody id="tbodyCateParent">
                    {{#each this.List}}
                    <div id="groupUser{{id}}">
                        <tr>
                            <div style="size:50px;margin:1%;background-color:aliceblue">
                                <th scope="row" class="text-left" id="tdParentIndex{{id}}">
                                    <label>SA{{id}} </label>
                                </th>
                                <td class="text-left">
                                    <img class="card-img-top" src="../../public/bookTitleImage/{{image}}"
                                        style="width: 40px; height:60px" alt="Card image cap">
                                </td>
                                <td class="text-center">
                                    <label>Sách {{name}} </label>
                                </td>
                                <td class="text-center">
                                    <label>{{author}} </label>
                                </td>
                                <td class="text-center">
                                    <label>{{formatDate created_at}} </label>
                                </td>
                                <td class="text-center" colspan="2">
                                    <a href="/admin/BookTitle/edit?id={{id}}" class="btn btn-primary btn-sm">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        Cập nhật
                                    </a>
                                    <a href="/admin/BookTitle/del/{{id}}" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash" aria-hidden="true"> Xóa </i>
                                    </a>
                                </td>
                            </div>
                        </tr>
                    </div>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>