{{#section 'js'}}
<script>
  function viewDetail(index) {
    var detailIndex = "row" + index;
    var rowDetail = document.getElementById(detailIndex)
    if (rowDetail.style.display == "")
      document.getElementById(detailIndex).style.display = "none";
    else if (rowDetail.style.display == "none")
      document.getElementById(detailIndex).style.display = "";
  }
  function addParentHTML(nextID, cateName) {
    var html = `<tr>
          <th scope="row" class="text-left" id = "tdParentIndex${nextID}">
            <p>{{@index}}</p>
          </th>
          <td class="text-center" >
            <input id="txtCategory${nextID}" style="border:5mm;text-align:center;"
              value="${cateName}"></input>
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-primary" onclick="viewDetail(${nextID})"><i class="fa fa-eye"
                aria-hidden="true"></i></button>
          </td>
          <td class="text-center">
            <button id="btnEditCategory${nextID}" class="btn btn-primary btn-sm" role="button" title="Sửa category"
              onclick="editCategory(${nextID})">
              <i class="fa fa-pencil" aria-hidden="true">sửa</i>
            </button>
            <button id="btnDelCategory${nextID}" class="btn btn-danger btn-sm" role="button" title="Xóa category"
              onclick="delCategory(${nextID})">
              <i class="fa fa-trash" aria-hidden="true">Xóa</i>
            </button>
          </td>
        </tr>
        <tr id="row${nextID}" style = "display:none;">
          <td></td>
          <td colspan="2">
            <input id="txtAddChild${nextID}">
            </input>
            <button id="btnAddChild${nextID}" style="margin-left: 0px;" class="btn btn-success btn-sm"
              onclick="addChild(${nextID})">(+)</button>
            <table class="table table-hover">
              <thead>
                <tr style="background-color:lightgray">
                  <th scope="col" class="text-left" style="width: 20%">#</th>
                  <th scope="col" style="width: 60%;" class="text-center">Tên Phiếu mượn con</th>
                  <th scope="col" class="text-center">Action</th>
                </tr>
              </thead>
              <tbody id="tbodyCateChild${nextID}">
              </tbody>
            </table>
          </td>
        </tr>
        `;
    return html;
  }
  function addParent() {
    var BorrowingID = $("#txtBorrowing").val();
    if (BorrowingID == '') {
      alert("Tên Phiếu mượn không được rỗng!");
      return;
    }
    $.getJSON(`/librarian/BorrowingCard/add/validation?borrowingID=${BorrowingID}`, (data) => {
      if (data["result"] == 0) {
        $.post(
          "/librarian/BorrowingCard/add",
          { TenChuyenMuc: categoryName },
          function (data) {
            let nextID = data["nextID"] - 1;
            window.alert("Thêm thành công!")
            var parentHTML = addParentHTML(nextID, categoryName);
            $("#tbodyCateParent").append(parentHTML);
            $("#tdParentIndex" + nextID).html(data["countParent"] - 1);
          }
        );
      }
      if (data["result"] == 1) {
        alert("Đã tồn tại Phiếu mượn con này ở trong Phiếu mượn cha đã chọn!");
      }
      if (data["result"] == 2) {
        alert("Đã tồn tại Phiếu mượn cha!");
      }
    })
  }
  function addChildHtml(id, parentID, childName){
    var html = `<tr id="row${parentID}" class="childRow">
                  <td></td>
                  <td class="text-center"><input id="txtCategory${id}" style="border:5mm;text-align: center;"
                      value="${childName}"></input></td>
                  <td class="text-left">
                    <button id="btnEditCategory${id}" class="btn btn-primary btn-sm" role="button" title="Sửa category"
                      onclick="editCategory(${id})">
                      <i class="fa fa-pencil" aria-hidden="true">sửa</i>
                    </button>
                    <button id="btnDelCategory${id}" class="btn btn-danger btn-sm" role="button" title="Xóa category"
                      onclick="delCategory(${id})">
                      <i class="fa fa-trash" aria-hidden="true">Xóa</i>
                    </button>
                  </td>
                </tr>`;
    return html;
  }
  function addChild(parentID) {
    var categoryName = $("#txtAddChild" + parentID).val();
    if (categoryName == '') {
      alert("Tên Phiếu mượn con không được rỗng!");
      return;
    }
    $.getJSON(`/admin/Categories/add/validation?categoryname=${categoryName}&parentID=${parentID}`, (data) => {
      if (data["result"] == 0) {
        $.post(
          "/admin/Categories/add",
          { TenChuyenMuc: categoryName, ParentID: parentID},
          function (data) {
            let nextID = data["nextID"] - 1;
            window.alert("Thêm thành công!")
            $("#tbodyCateChild" + parentID).append(addChildHtml(nextID, parentID, categoryName));
          }
        );
      }
      if (data["result"] == 1) {
        alert("Đã tồn tại Phiếu mượn con này ở trong Phiếu mượn cha đã chọn!");
      }
      if (data["result"] == 2) {
        alert("Đã tồn tại Phiếu mượn cha!");
      }
    })
  }
  function editCategory(index) {
    let categoryName = $("#txtCategory" + index).val();
    if (categoryName !== '') {
      $.getJSON(`/admin/Categories/edit/validation?categoryname=${categoryName}&id=${index}`, (data) => {
        if (data["result"] == 0) {
          $.post(
            "/admin/Categories/edit",
            { TenChuyenMuc: categoryName, id: index },
            window.alert("Sửa thành công!")
          );
        }
        if (data["result"] == 1) {
          alert("Đã tồn tại Phiếu mượn con này ở trong Phiếu mượn cha đã chọn!");
        }
        if (data["result"] == 2) {
          alert("Đã tồn tại Phiếu mượn cha!");
        }
      });
    }
    else {
      alert("Tên category không được rỗng!");
    }

  }

  function delCategory(index) {
    let btnName = "btnDelCategory" + index;
    $.getJSON(`/admin/Categories/del/${index}`, (data) => {
      if (data["result"] == '0') {
        alert("Xóa thành công!");
        $("#row" + index).remove();
        $('#' + btnName).closest('tr').remove();
      }
      if (data["result"] == '1')
        alert("Phiếu mượn vẫn còn chứa bài viết! Không thể xóa!");
      if (data["result"] == '2')
        alert("Phiếu mượn vẫn còn chứa Phiếu mượn con! Không thể xóa!");

    });
  }
</script>
{{/section}}
{{#section 'css'}}
<style>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color:lavender;
}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

</style>

{{/section}}
<div class="card">
  <div class="card-header">
        <h4>Danh sách phiếu trả</h4>
        <ul class="pagination">
            {{#each this.pagi}}
            {{#when value 'noteq'-1}}
            <li><a href="/librarian/returningCard?p={{value}}">{{value}}</a></li>
            {{/when}}
            {{/each}}
        </ul>
    </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between" style="width: 100%;">
        <form method="POST" action="/librarian/returningCard/add" style="width: 100%" id="form-confirm">
            <input id="txtBorrowingCardID" style="background-color:bisque;" name="borrowing_card_id" placeholder="Nhập mã phiếu mượn"/>
            <button class="btn btn-outline-success" role="button" type="submit" form="form-confirm">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Thêm phiếu trả
            </button>
        </form>
    </div>
    <table class="table table-hover" id="tableCategory">
      <thead>
        <tr style="background-color:cornflowerblue">
          <th scope="col" class="text-left" style="width: 10%; color:black">#</th>
          <th scope="col" class="text-left" style="color:black">Mã Phiếu mượn</th>
          <th scope="col" class="text-left" style="color:black">tiền phạt</th>
          <th scope="col" class="text-left" style="color:black">Ngày trả</th>        
          <th scope="col" class="text-left" style="color:black">Action</th>
        </tr>
      </thead>
      <tbody id="tbodyCateParent" style="background-color:lavender;">
        {{#each List}}
        <tr>   
          <th scope="row" class="text-left" id="tdParentIndex{{id}}">
            <p style="color:black">{{id}}</p>
          </th>
          <td class="text-left">
              <p style="color: black;">{{borrowing_card_id}}</p>
          </td>
          <td class="text-left">
              <p style="color: black;">{{penalty_cost}}</p>
          </td>
          <td class="text-left">
              <p style="color: black;">{{returned_at}}</p>
          </td>
          {{!-- <td class="text-left">
            <button type="button" class="btn btn-primary" onclick="viewDetail({{id}})"><i class="fa fa-eye"
                aria-hidden="true"></i></button>
          </td> --}}
          <td class="text-left">
            <a href="/librarian/returningCard/edit/{{id}}" class="btn btn-primary btn-sm">
                <i class="fa fa-pencil" aria-hidden="true">sửa</i>
            </a>
            <a href="/librarian/returningCard/del/{{id}}" class="btn btn-danger btn-sm">
                <i class="fa fa-trash" aria-hidden="true">Xóa</i>
            </a>
          </td>
        </tr>

        <tr id="row{{this.0.id}}" style="display:none">
          <td></td>
          <td colspan="4">
            <input id="txtAddChild{{this.0.id}}">
            </input>
            <button id="btnAddChild{{this.0.id}}" style="margin-left: 0px;" class="btn btn-success btn-sm"
              onclick="addChild({{this.0.id}})">Thêm mới</button>
            <table id = "tableChild{{thinns.0.id}}" class="table table-hover">
              <thead>
                <tr style="background-color:lightgray">
                  <th scope="col" class="text-left" style="width: 20%">#</th>
                  <th scope="col" style="width: 60%;" class="text-center">Tên Phiếu mượn con</th>
                  <th scope="col" class="text-center">Action</th>
                </tr>
              </thead>

              <tbody id="tbodyCateChild{{this.0.id}}">
                {{#each this}}
                {{#if (isNotEqual @index 0)}}
                <tr id="row{{ChuyenMucCon}}" class="childRow">
                  <td><input id="txtCategory{{id}}" style="border:5mm;text-align:center;"
              value="{{borrowing_card_id}}"></input></td>
                  <td class="text-center"><input id="txtCategory{{id}}" style="border:5mm;text-align: center;"
                      value="{{created_at}}"></input></td>
                  <td class="text-left">
                    <button id="btnEditCategory{{id}}" class="btn btn-primary btn-sm" role="button" title="Sửa category"
                      onclick="editCategory({{id}})">
                      <i class="fa fa-pencil" aria-hidden="true">sửa</i>
                    </button>
                    
                    <button id="btnDelCategory{{id}}" class="btn btn-danger btn-sm" role="button" title="Xóa category"
                      onclick="delCategory({{id}})">
                      <i class="fa fa-trash" aria-hidden="true">Xóa</i>
                    </button>
                  </td>
                </tr>
                {{/if}}
                {{/each}}
              </tbody>
            </table>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>