{{#section 'js'}}
<script>
    function viewDetail(index) {
        var detailIndex = "infoField" + index;
        var rowDetail = document.getElementById(detailIndex)
        if (rowDetail.style.display == "")
            document.getElementById(detailIndex).style.display = "none";
        else if (rowDetail.style.display == "none")
            document.getElementById(detailIndex).style.display = "";
    }

    function cbRoleChange(id) {
        $.post(
            `/admin/Users/update`,
            { id: id, roleID: document.getElementById("cbRole" + id).value },
            function (data) {
                $("#infoField" + id).empty();
                var html = returnHtmlRole(data["List"]);
                $("#infoField" + id).append(html);
                window.alert("Sửa thành công!");
            }
        );
    }
</script>
{{/section}}
<div class="card">
    <div class="card-header">
        <h4>Danh sách người dùng</h4>
        <div class="card-header d-flex justify-content-between">
            <a href="/admin/account/add" class="btn btn-outline-success">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Thêm tài khoản
            </a>
        </div>
        <ul class="pagination">
            {{#each this.pagi}}
            {{#when value 'noteq'-1}}
            <li><a href="/admin/Accounts?p={{value}}">{{value}}</a></li>
            {{/when}}
            {{/each}}
        </ul>
    </div>
    <div class="card-body">
        <div id="infoList">

            {{#each this.List}}

            <div id="groupUser{{id}}">
                <div style="size:50px;margin:1%;background-color:aliceblue">
                    <label style="width:60%;">Người dùng {{username}} </label>
                    <button style="width:19%;" type="button" class="btn btn-primary" onclick="viewDetail({{this.id}})"><i class="fa fa-eye"
                            aria-hidden="true"></i>Xem chi
                        tiết!</button>
                    <a href="/admin/account/del/{{id}}" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash" aria-hidden="true"> Xóa </i>
                    </a>
                </div>
                <div id="infoField{{id}}"
                    style="margin-left: 10%;margin-right: 10%;margin-top: 1%; margin-bottom: 2%;border:1px solid purple;display:none;">
                    <div class="form-group" style="margin: 2%;">
                        <form method="POST" action="/admin/account/edit/{{id}}" style="width: 100%" id="form-confirm">
                            <input class="form-control" id="txtid{{id}}" name="id" value="{{id}}" hidden></input><br>
                            <label for="txtusername{{id}}">Tên người dùng: </label>
                            <input class="form-control" id="txtusername{{id}}" name="username"
                                value="{{username}}"></input><br>
                            <label>mật khẩu:</label>
                            <input class="form-control" id="txtpassword{{id}}" name="password" value=""></input><br>
                            <label>Họ và Tên:</label>
                            <input class="form-control" id="txtname{{id}}" name="name" value="{{name}}"></input><br>
                            <label>email:</label>
                            <input class="form-control" type="email" id="txtemail{{id}}" name="email"
                                value="{{email}}"></input><br>
                            <label>số điện thoại:</label>
                            <input class="form-control" id="txtphone{{id}}" name="phone" value="{{phone}}"></input><br>
                            <label>Vai trò:</label>
                            <select id="cbRole{{id}}" name="roleID" class="form-control"
                                onchange="cbRoleChange({{id}})">
                                <option value="1" {{#when role_id 'eq' 1}}selected{{/when}}>Người dùng</option>
                                <option value="2" {{#when role_id 'eq' 2}}selected{{/when}}>Quản trị viên</option>
                                <option value="3" {{#when role_id 'eq' 3}}selected{{/when}}>Thủ kho</option>
                                <option value="4" {{#when role_id 'eq' 4}}selected{{/when}}>Thủ thư</option>
                                <option value="5" {{#when role_id 'eq' 5}}selected{{/when}}>Độc giả</option>
                            </select><br>
                            <label>Trạng thái: </label>
                            <select id="cbRole{{id}}" name="block" class="form-control"
                                onchange="cbRoleChange({{id}})">
                                <option value="0" {{#when isBlock 'eq' 0}}selected{{/when}}>không khóa</option>
                                <option value="1" {{#when isBlock 'eq' 1}}selected{{/when}}>Khóa</option>
                            </select>
                            <input type="submit" value="update" style="margin-top: 5px; width:15%"
                                class="btn btn-primary" id="btn-confirm">
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>