{{#section 'title'}}
{{this._categoryName.name}}
{{/section}}

{{#section 'js'}}
<script>
    $(document).ready(function () {
        $("#button-load-more").on("click", function () {
            $.getJSON(`/category-load-more?id=${$("#categoryID").val()}&offset=${+$("#offset").val() + 1}`, (data) => {
                if (data.length !== 0) {
                    data.forEach(val => {
                        var fDate = formatDate(val['created_at']);

                        const row = `
              <div class="flex-wr-sb-s p-t-40 p-b-15 how-bor2">
                <a href="/bookDetail/${val['id']}" class="size-w-8 wrap-pic-w hov1 trans-03 w-full-sr575 m-b-25 _article">
                  <img src="../../public/bookTitleImage/${val["image"]}" alt="IMG">
                </a>
                <div class="size-w-9 w-full-sr575 m-b-25">
                  <h5 class="p-b-12">
                    <a href="/bookDetail/${val['id']}" class="f1-l-1 cl2 hov-cl10 trans-03 respon2 _article">
                      ${val['name']}
                    </a>
                  </h5>
                  <div class="cl8 p-b-18">
                    <a href="javascript:;" class="f1-s-4 cl8 hov-cl10 trans-03">${val['author']}</a>
                    <span class="f1-s-3 m-rl-3">-</span>
                    <span class="f1-s-3">${fDate}</span>
                  </div>
                  <p class="f1-s-1 cl6 p-b-24">${val['description']}</p>
                </div>
              </div>`;

                        $("#books-area").append(row);
                        $("#offset").val(+$('#offset').val() + 1);
                        $("#button-load-more").removeAttr("disabled");
                        $("#button-load-more").addClass("hov-btn1");
                    });
                } else {
                    $("#button-load-more").attr('disabled', 'disabled');
                    $("#button-load-more").removeClass("hov-btn1");
                }
            });
        });
    });
</script>
{{/section}}

<!-- Breadcrumb -->
<div class="container">
    <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
        <div class="f2-s-1 p-r-30 m-tb-6">
            <a href="/" class="breadcrumb-item f1-s-3 cl9">
                Trang chủ
            </a>
            <span class="breadcrumb-item f1-s-3 cl9">
                {{this._categoryName.name}}
            </span>
        </div>
    </div>
</div>
<section class="bg-light p-b-55">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 p-b-80">
                <div class="p-r-10 p-r-0-sr991">
                    <div class="m-t-40 p-b-40" id="books-area">
                        {{#each this._book}}
                        <div class="flex-wr-sb-s p-t-40 p-b-15 how-bor2">
                            <a href="/bookDetail/{{id}}"
                                class="size-w-8 wrap-pic-w hov1 trans-03 w-full-sr575 m-b-25">
                                <img src="../../public/bookTitleImage/{{image}}" alt="IMG">
                            </a>

                            <div class="size-w-9 w-full-sr575 m-b-25">
                                <h5 class="p-b-12">
                                    <a href="/bookDetail/{{id}}" class="f1-l-1 cl2 hov-cl10 trans-03">
                                        {{name}}
                                    </a>
                                </h5>

                                <div class="cl8 p-b-18">
                                    <a href="javascript:;" class="f1-s-4 cl8 hov-cl10 trans-03">
                                        {{author}}
                                    </a>

                                    <span class="f1-s-3 m-rl-3">
                                        -
                                    </span>

                                    <span class="f1-s-3">
                                        {{formatDate created_at}}
                                    </span>
                                </div>

                                <p class="f1-s-1 cl6 p-b-24">
                                    {{description}}
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <button class="flex-c-c size-a-13 bo-all-1 cl6 hov-btn1 trans-03"
                        id="button-load-more">
                        <input type="hidden" id="offset" value="1">
                        <input type="hidden" id="categoryID" value="{{this._categoryName.id}}">
                        Load more
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

{{> footer}}